@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

a { color:black; text-decoration: none; } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: underline; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
#nav-icon:hover{text-decoration:none; background-color: #ececec;}
#nav-icon:hover, #nav-icon:link{text-decoration: none; background-color: #ececec;}
#gmailimages:hover, #gmailimages:active { text-decoration: underline; color:black }

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 3300;
    
}

#search{
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 600px;
    margin-top: 30px;
    border: 2px solid #DFE1E5;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    height: 40px;
    position: relative;
}

#search:hover{
    -webkit-box-shadow: 0px 0px 5px 1px #ccc; 
    -moz-box-shadow:    0px 0px 5px 1px #ccc; 
    box-shadow:         0px 0px 5px 1px #ccc;
}

#search-icon{
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    color: lightgray;
    pointer-events: none;
}


#search-input{
    display: block;
    position: absolute;
    height: 34px;
    width: 500px;
    right: 0;
    left: 0;
    margin: auto;
    border-color: transparent;
    outline-width: 0;
}


#mic-icon{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    color: lightblue;
    cursor: pointer;
}

#navbar{
    display: block;
    position:relative;
    height: 50px;
}

ul > li{
    list-style-type: none;
    display: inline-block;
    position: relative;
    *zoom: 1;
    *display: inline;
    margin: 7px;
    font-size: 15px;
}

header{
    display: block;
    position: fixed;
    right: 10px;
    top: -15px;
}

#nav-icon{
    text-decoration: none;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 10px;
    background-color: transparent;
    border-radius: 50%;
    top: 6px;
}